* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* font-family: "Poppins"; */
@font-face

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/PoppinsRegular.ttf") format("truetype");
    /*  url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), */
    
    font-style: normal;
    font-weight: normal;
  }

.App {
    width: 100vw;
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.content {
    display: flex;
    flex-direction:row;
    justify-content: center;
}