* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
    width: 100vw;
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 10px #c2c6c9;
    width: 300px;
    max-height: 350px;
    margin-top: 80px;
    border-radius: 5px;
}
.content {
    display: flex;
    flex-direction:row;
    justify-content: center;
}