* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
    width: 100vw;
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: red;
    box-shadow: #f4f5f6;
    margin: 0vw 20vw;
    
}