* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
    width: 800px;
    text-align: center;
   
}
.form {
    
    width:400px;
    height: 400px;
    background: red;
    box-shadow: #f4f5f6;
    text-align: center;
    
}