* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    letter-spacing: normal;
    
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    height: 100vh;
}

/* .App {
    width: 100vw;
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.content {
    display: flex;
    flex-direction:row;
    justify-content: center;
} */

@font-face {
    font-family:'Poppins';
    src: local('Poppins'), url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  }