.Btn {
    padding: 8px 15px;
    color: #343a40;
    font-size: 10px;
    border: none;
    cursor: pointer;
    background-color: #90F9AD;
    border-radius: 5px;
    display:flex;
    align-items:stretch;
    text-align: center;
    font-weight:500;
}
.BtnCancel {
    padding: 8px 15px;
    color: grey;
    font-size: 10px;
    border: none;
    cursor: pointer;
    background-color: #f8f9fa;
    border-radius: 5px;
    display:flex;
    align-items:stretch;
    text-align: center;
}

.BtnCancel svg {
    height: 1rem;
    padding-right: 5px;
    padding-bottom: 3px;
}