.Btn {
    padding: 5px 15px;
    color: #343a40;
    font-size: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
    background-color: #90F9AD;
    border-radius: 5px;
    flex-direction: row;
}