.BtnReverse {
    padding: 10px;
    color: #90F9AD;
    font-size: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    background-color: #343a40;
    border-radius: 5px;
    display:flex;
    align-items: row;
    text-align: right;
    margin-right: 15px;
}