.Btn {
    padding: 8px 15px;
    width: 5.5rem;
    color: #343a40;
    font-size: 10px;
    border: none;
    cursor: pointer;
    background-color: #90F9AD;
    border-radius: 5px;
    display:flex;
    align-items:stretch;
    text-align: center;
}