.formInv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    box-shadow: 0 0 5px #e3e5e6;
    width: 300px;
    max-height: 350px;
    margin-top: 40px;
    border-radius: 5px;
    padding: 20px;
}