.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 5px #e3e5e6;
    width: 300px;
    max-height: 350px;
    margin-top: 100px;
    border-radius: 5px;
    padding: 30px;
}
.form h1 {
    text-align: left;
    font-weight:bold;
    font-size: 18px;
    padding: 10px 0;
}

.form h3 {
    text-align: left;
    font-size: 8px;
    font-weight: inherit;
}

.twoButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.twoButtons button {
    width: 7.2rem;
    font-weight:500;
    font-size: 10px;
    padding-bottom:inherit;
}

.twoButtons svg {
    width: 1rem;
    padding-right: 5px;
    padding-bottom: 3px;
}


