.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 5px #e3e5e6;
    width: 300px;
    max-height: 350px;
    margin-top: 40px;
    border-radius: 5px;
    padding: 20px;
}
.form h1 {
    text-align: left;
    font-weight:bolder;
    font-size: 18px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.form h1 svg {
    align-self: flex-end;
    opacity: 0.05;
}
.form h3 {
    text-align: left;
    font-size: 8px;
    color: lightgray;
    font-weight: inherit;
}

.twoButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}

.twoButtons button {
    font-weight:500;
    font-size: 10px;
    padding-bottom:inherit;
}

.twoButtons svg {
    width: 1rem;
    padding-right: 5px;
    padding-bottom: 3px;
}
.BtnAndSpan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}
.BtnAndSpan span {
    font-size: 8px;
    text-align: left;
    margin-left: 20px;
    padding-top: 3px;
}

.BtnAndSpan button {
    padding-bottom:1px;
    color: #343a40;
}

.overflowDiv {
    margin:30px 0;
    overflow: auto;
    height: 150px;
    font-size: 8px;
    color: #343a40;
}

::-webkit-scrollbar {
    width: 1px; /* ширина для вертикального скролла */
}
::-webkit-scrollbar-thumb {
    background-color: #90F9AD;
}

.agree svg {
    padding-right: 20px;
}