.navbar_container {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: #343a40;
  }

  .navbarAuth {
    margin-left: auto;
  }
  .linkCpntainer {
    align-items: center;
  }