.body {
    width: 100vw;
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.wrapper {
    display: flex;
    justify-content: right;
    flex-direction:column;
    align-self:center;
    
}