.navbar_container {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    color: #343a40;
  }


.navbarAuth {
  flex: 1;
  display: flex;
  align-items: center;
  }
.linkContainer {
  flex: 3;
  }
.linkContainer a {
  font-size: 12px;
    padding: 0 5px;
}
.navbarLogo {
  height: 50px;
  flex: 1;
}