.navbar_container {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    color: #343a40;
  }


.navbarAuth {
  flex: 1;
  display: flex;
  align-items: center;
    /* margin-left: auto; */
  }
.linkContainer {
  flex: 3;
    /* text-align: center; */
  }
.linkContainer a {
  font-size: 1.5rem;
    padding: 0 5px;
}
.navbarLogo {
  flex: 1;
  height: 1rem;
    /* margin-right: auto; */
}