.navbar_container {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    color: #343a40;
  }
  .burgerContainer {
    padding: 0 10px;
    height: 32px;
    cursor: pointer;
    display: none;
    }
  .burgerContainer  svg {
      width: 28px;
    }
  .burgerLinks {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100px;
      margin-top: 7px;
      margin-left: -80px;
    }
  .burgerLinks a {
      font-size: 10px;
      padding: 5px 0;
    }
  .linkContainer {
      padding: 0 10px;
      flex: 2;
      }

  @media screen and (max-width: 680px) {
    .linkContainer {display: none;}
    .burgerContainer {display:block;}

  }

.navbar_mobile {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-top: 20px;
  color: #343a40;
}

.navbarAuth {
  flex: 1;
  display: flex;
  align-items: center;
  }

.linkContainer a {
  /* display: flex; */
  /* flex-direction: row; */
  font-size: 10px;
  padding: 0 5px;
}
.navbarLogo {
  padding-right: 5px;
  flex: 1;
}