.navbar_container {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    color: #343a40;
    /* visibility:hidden; */
  }

.navbar_mobile {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
  color: #343a40;
}


.navbarAuth {
  flex: 1;
  display: flex;
  align-items: center;
  }
.linkContainer {
  padding: 0 10px;
  flex: 2;
  }
.linkContainer a {
  font-size: 10px;
    padding: 0 5px;
}
.navbarLogo {
  padding-right: 5px;
  flex: 1;
}
.burgerContainer {
  padding: 0 10px;
  flex: 2;
  height: 32px;
  width: 50px;
  cursor: pointer;
  }