.navbar_container {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    color: #343a40;
    background: red;
    /* visibility:hidden; */
  }


.navbarAuth {
  flex: 1;
  display: flex;
  align-items: center;
  }
.linkContainer {
  padding: 0 10px;
  flex: 1.5;
  }
.linkContainer a {
  font-size: 10px;
    padding: 0 5px;
}
.navbarLogo {
  flex: 1;
}